.product-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-details {
  width: 98%;
}

.product-actions {
  gap: 10px;
  margin-top: auto;
}

.orders-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 30px;
  align-items: flex-start;
  align-items: stretch;
}

.subsection-title {
  margin-bottom: 12px;
}

.subsection-content {
  margin: 0 8px;
}

.supplier-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.product-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}


.orders-container > section {
  width: 47%;
  min-width: 360px;
  border: var(--borders);
  border-radius: var(--card-border-radius);
  padding: 10px;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
  max-height: 80vh;
  overflow-y: auto;
}

.orders h2,
.suppliers h2 {
  font-size: 3.2rem;
  margin: 0;
}

.orders h3,
.suppliers h3 {
  font-size: var(--font-xl);
  margin: 10px 0;
}

.subsection-content p,
.subsection-content input,
.subsection-content select {
  font-size: var(--font-l);
}

.subsection-content input,
.subsection-content select {
  margin-left: 5px;
  padding: 3px;
}

.no-orders, .no-suppliers, .all-suppliers {
  color: rgb(203, 12, 12)
}

.orders table {
  width: calc(100% - 16px);
  text-align: left;
  border-collapse: collapse;
  margin: 0 8px;
}

.orders td {
  padding: 8px 5px;
  font-size: var(--font-reg);
}

.orders th {
  font-size: var(--font-l);
  padding: 5px 5px 0;
  border-bottom: rgb(200, 94, 122) solid 2px;
}

.orders tr:nth-child(even) {
  background-color: rgb(245,245,245);
}

.supplier-container p {
  margin: 12px 0;
}

.supplier-container a {
  text-decoration: none;
  color: #111;
}

.supplier-container .btn {
  padding: 3px 10px;
  margin-left: 10px;
}

.table-scroll {
  max-height: 300px;
  overflow-y: auto;
  margin: 0 8px;
}

.table-scroll table {
  width: 100%;
  border-collapse: collapse;
}

.supplier-list-scroll {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 5px; 
}
