main {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../images/header-logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: 1;
}

main > * {
  position: relative;
  z-index: 2;
}

.header-logo-container {
  display: none;
}

.login-container {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.login {
  color: #1f1f1f;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  transition: transform 0.2s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.login h1 {
  font-size: 4em;
}

.login >p {
  font-size: 2em;
}

.login input {
  font-size: var(--font-l);
  padding: 2px 4px;
}

.login .btn {
  margin-top: 20px;
  align-self: flex-end;

}