{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/products/product_index.css' %}" />
{% endblock %} {% block content %}

<h1>Product Inventory</h1>
<hr />
<table>
  <thead>
    <th>Name</th>
    <th>Color</th>
    <th>SKU</th>
    <th>Quantity</th>
    <th>Price</th>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td><a href="{% url 'product_detail' product.id %}">{{ product.name }} </a></td>
      <td>{{ product.color }}</td>
      <td>{{ product.sku }}</td>
      <td>{{ product.quantity }}</td>
      <td>${{ product.price }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
